html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

main.container {
  max-width: 968px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: .85rem;
  border-bottom: 1px solid #ccc;
}

.search input {
  font-size: 1.25em;
  min-width: 20rem;
  padding: .5rem .7rem;
  border-radius: .4rem;
  border: 1px solid #777;
}

.search button {
  font-size: 1.25em;
  padding: .5rem .7rem;
  border-radius: .4rem;
  border: 1px solid #777;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
}

.search button:hover {
  background-color: #0069D9;
}

main {
  display: flex;
  flex-wrap: wrap;
  row-gap: .75rem;
}

.logo {
  margin: 10px;
}

.loading {
  margin: 0 auto;
}

.featured {
  display: flex;
  flex-direction: column;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin: 5rem 0;
  border: .7rem solid #333;
}

.featured__text {
  text-transform: capitalize;
  line-height: 2.24rem;
  max-width: 50%;
  margin-bottom: 5rem;
}

.featured__cta {
  width: fit-content;
  text-transform: uppercase;
  font-size: .85em;
  background-color: #282828;
  color: #fff;
  border: 1px solid;
  padding: 1rem 3rem;
  cursor: pointer;
  transition-duration: 300ms;
}
.featured__cta:hover {
  background-color: #404040
}

.products {
  scroll-margin-block: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.65rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 200px;
}

.product__image img {
  max-width: 100%;
  height: auto;
}

.product__info {
  margin-top: 10px;
}

.product__details {
  cursor: pointer;
  background-color: unset;
  color: #007BFF;
  border: 1px solid;
  padding: 1rem 2rem;
}

.product:hover .product__details {
  font-weight: bold;
}

