*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-blue: #007BFF;
  --dark-blue: #0069D9;
  --darker-blue: #004d9f;
  --primary-green: #279b1f;
  --shadow-primary: rgba(32, 76, 136, 0.15);
  --animation-delay-base: 0.2s;
  --animation-delay-increment: 0.2s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}

main.container {
  max-width: 968px;
  display: flex;
  justify-content: space-between;
}

main {
  display: flex;
  flex-wrap: wrap;
  row-gap: .75rem;
  margin-inline: 2rem;
}

.loading {
  margin: 0 auto;
}

.loading img {
  width: 20rem;
  height: 20rem;
}

/*=== Header ===*/
.header {
  align-items: center;
  padding: .85rem;
  border-bottom: 1px solid #ccc;
}

.logo {
  margin: 10px;
}

.search input {
  font-size: 1.25em;
  min-width: 20rem;
  padding: .5rem .7rem;
  border-radius: .4rem;
  border: 1px solid #777;
}

/*noinspection ALL*/
.search button {
  font-size: 1.25em;
  padding: .5rem .7rem;
  border-radius: .4rem;
  border: 1px solid #777;
  background-color: var(--primary-blue);
  color: #fff;
  cursor: pointer;
}

.search button:hover {
  background-color: var(--dark-blue);
}

.back__button {
  margin-top: 1rem;
  display: inline-block;
  width: 100vw;
}

/*=== Featured ===*/
.featured {
  flex-direction: column;
  width: 100vw;
  padding: 2rem 3rem;
  margin: 5rem 0;
  border: .7rem solid #333;
}

.featured__text {
  text-transform: capitalize;
  line-height: 2.5rem;
  margin-bottom: 3rem;
}

.featured__text h1 {
  font-size: 1.75em;
  color: var(--primary-blue);
}

.featured__text span {
  text-transform: uppercase;
  font-family: monospace;
  color: #555;
}

.featured__cta {
  width: fit-content;
  text-transform: uppercase;
  font-size: .85em;
  background-color: #282828;
  color: #fff;
  border: 1px solid;
  padding: 1rem 3rem;
  cursor: pointer;
  transition-duration: 300ms;
}

.featured__cta:hover {
  background-color: #404040
}

.featured__img {
  width: fit-content;
}

/*=== Products ===*/
.products {
  scroll-margin-block: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.65rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: clamp(200px, calc(25% - 1.5rem), 250px)
}

.product__image,
.similar-product__image {
  margin-block: auto
}

.product__image img {
  width: auto;
  border-radius: .75rem;
}

.product__info {
  display: flex;
  flex-direction: column;
  margin-top: .5rem;
  row-gap: .75rem;
}

.product__info--name {
  color: var(--primary-blue);
}

.product__info--price,
.case__details--price,
.similar-product__info--price {
  font-weight: bold;
  color: var(--primary-green);
  font-size: 1.5em;
}

.product__info--details,
.similar-product__info--details {
  cursor: pointer;
  background-color: unset;
  color: var(--primary-blue);
  border: 1px solid;
  padding: 1rem 2rem;
}

.product:hover .product__info--details,
.similar-product:hover .similar-product__info--details {
  font-weight: bold;
}

/*=== Case Details ===*/
.case {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  margin-block: 5rem;
  gap: 2rem 3rem;
}

@media (max-width: 866px) {
  .case {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.case__image {
  display: block;
  max-width: fit-content;
  max-height: 50vh;
  padding: 1rem 7vw;
  border: 0.7rem solid #333;
  border-radius: 0.75rem;
}

.case__details {
  display: flex;
  flex-direction: column;
  min-width: 40vw;
  flex-wrap: wrap;
  flex: 0.7;
}

.case__details--name span {
  color: var(--dark-blue);
}

.case__details--name {
  max-width: 500px;
  min-width: 40vw;
  text-wrap: balance;
}

.case__details--color {
  display: inline-block;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  vertical-align: text-top;
  margin-inline: 0.25rem;
}

.case__details p {
  margin-bottom: 8px;
}

.case__button {
  background-color: var(--primary-blue);
  color: #fff;
  padding: .75rem 4rem;
  width: fit-content;
  border-radius: .2rem;
  display: inline-block;
  margin-top: auto;
}

.case__button:hover {
  background-color: #0056b3;
}

.header,
.featured,
.similar-cases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*=== Similar Cases ===*/
.similar-cases {
  margin-bottom: 5rem;
}

.similar-products {
  gap: 2rem;
}

/*=== Divider ===*/
.divider {
  position: relative;
  margin: 2rem 0;
  width: 100%;
}

.divider::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, transparent, var(--darker-blue), transparent);
}

.similar-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.similar-product {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  width: clamp(40rem, 80vw, 70rem);
  box-shadow: 0 2px 6px 0 var(--shadow-primary);
  border-radius: 0.75rem;
}

.similar-products.animate .similar-product:nth-child(1) {
  animation: product-show calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 0)) 1;
}

.similar-products.animate .similar-product:nth-child(2) {
  animation: product-show calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 1)) 1;
}

.similar-products.animate .similar-product:nth-child(3) {
  animation: product-show calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 2)) 1;
}

.similar-products.animate .similar-product:nth-child(4) {
  animation: product-show calc(var(--animation-delay-base) + (var(--animation-delay-increment) * 3)) 1;
}

.similar-product:hover {
  box-shadow: 0 4px 8px 0 var(--shadow-primary), 0 0 1px 0 var(--shadow-primary);
}

.similar-product__website {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 1rem;
  width: fit-content;
}

.similar-product__website img {
  height: 100%;
  max-height: clamp(1rem, 2.5vh, 2rem);
  max-width: 8rem;
  width: fit-content
}

.similar-product__image {
  width: 5rem;
  border-radius: .75rem;
}

.similar-product__info {
  display: flex;
  flex: 1;
  margin-top: .5rem;
  margin-left: 1rem;
  row-gap: .75rem;
  text-align: left;
}

.similar-product__info--name {
  color: var(--primary-blue);
}

.similar-product__info--price {
  width: fit-content;
}

.similar-product__info--buy {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .7rem;
}

.similar-product__info--button.case__button {
  background-color: var(--primary-green);
  padding: 0.35rem 2rem;
}

/* Pagination styles */
.pagination {
  --links__size: 3rem;

  flex: 1;
  gap: .75rem;
  list-style: none;
  padding: 0;
  margin-block: 4rem;
}

.pagination,
.pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination a {
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 200ms ease;
}

.pagination a,
.pagination a img {
  width: var(--links__size);
  height: var(--links__size);
}

.pagination a:has(img) {
  border: none;
  display: contents;
}

.pagination a:nth-child(2) img {
  transform: rotate(180deg)
}

.pagination a img {
  border-radius: 50%;
}

.pagination a.current {
  font-weight: bold;
}

.pagination a:hover {
  transform: translateY(-.25rem);
}

.pagination a:hover,
.pagination a.current {
  background-color: var(--primary-blue);
  color: #fff;
}

.csslider {
  /*important*/
  margin: 22px;
  /*important*/
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: center;
  position: relative;
}

.csslider>input {
  display: none;
}

.csslider>input:nth-of-type(5):checked~ul li:first-of-type {
  margin-left: -400%;
}

.csslider>input:nth-of-type(4):checked~ul li:first-of-type {
  margin-left: -300%;
}

.csslider>input:nth-of-type(3):checked~ul li:first-of-type {
  margin-left: -200%;
}

.csslider>input:nth-of-type(2):checked~ul li:first-of-type {
  margin-left: -100%;
}

.csslider>input:nth-of-type(1):checked~ul li:first-of-type {
  margin-left: 0;
}

.csslider>ul {
  width: fit-content;
  height: 300px;
  position: relative;
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.csslider>ul>li {
  vertical-align: top;
  font-size: 15px;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  line-height: normal;
  -moz-transition: all 0.5s cubic-bezier(0.5, 1, 0.5, 1);
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s cubic-bezier(0.5, 1, 0.5, 1);
  transition: all 0.5s cubic-bezier(0.5, 1, 0.5, 1);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  white-space: normal;
}

/*-------------NAVIGATION-------------*/
.csslider>.navigation {
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-bottom: -10px;
  z-index: 10;
  font-size: 0;
  line-height: 0;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csslider>.navigation>div {
  margin-left: -100%;
}

.csslider>.navigation label {
  border-radius: 50%;
  margin: 0 4px;
  padding: 4px;
  background: #909090;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.csslider>.navigation label:hover:after {
  opacity: 1;
}

.csslider>.navigation label:after {
  /*important*/
  margin-left: -6px;
  margin-top: -6px;
  padding: 6px;
  background: #000000;
  border-radius: 50%;
  /*important*/
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
}

.csslider.inside .navigation {
  bottom: 10px;
  margin-bottom: 10px;
}

.csslider>input:nth-of-type(1):checked~.navigation label:nth-of-type(1):after,
.csslider>input:nth-of-type(2):checked~.navigation label:nth-of-type(2):after,
.csslider>input:nth-of-type(3):checked~.navigation label:nth-of-type(3):after,
.csslider>input:nth-of-type(4):checked~.navigation label:nth-of-type(4):after,
.csslider>input:nth-of-type(5):checked~.navigation label:nth-of-type(5):after {
  opacity: 1;
}

/*-------------ARRROWS-------------*/
.csslider>.arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.csslider>.arrows {
  left: -31px;
  padding: 0 31px;
  height: 26px;
  position: absolute;
  z-index: 5;
  top: 50%;
  width: 100%;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.csslider>.arrows label {
  box-shadow: inset 2px -2px 0 1px #909090;
  display: none;
  position: absolute;
  top: -50%;
  padding: 10px;
  cursor: pointer;
  -moz-transition: box-shadow 0.15s, margin 0.15s;
  -o-transition: box-shadow 0.15s, margin 0.15s;
  -webkit-transition: box-shadow 0.15s, margin 0.15s;
  transition: box-shadow 0.15s, margin 0.15s;
}

.csslider>.arrows label:hover {
  box-shadow: inset 3px -3px 0 2px #000000;
  margin: 0 0;
}

.csslider.infinity>input:first-of-type:checked~.arrows label.goto-last,
.csslider>input:nth-of-type(1):checked~.arrows>label:nth-of-type(0),
.csslider>input:nth-of-type(2):checked~.arrows>label:nth-of-type(1),
.csslider>input:nth-of-type(3):checked~.arrows>label:nth-of-type(2),
.csslider>input:nth-of-type(4):checked~.arrows>label:nth-of-type(3),
.csslider>input:nth-of-type(5):checked~.arrows>label:nth-of-type(4) {
  display: block;
  left: 0;
  right: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.csslider.infinity>input:last-of-type:checked~.arrows label.goto-first,
.csslider>input:nth-of-type(1):checked~.arrows>label:nth-of-type(2),
.csslider>input:nth-of-type(2):checked~.arrows>label:nth-of-type(3),
.csslider>input:nth-of-type(3):checked~.arrows>label:nth-of-type(4),
.csslider>input:nth-of-type(4):checked~.arrows>label:nth-of-type(5) {
  display: block;
  right: 0;
  left: auto;
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

@keyframes product-show {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateX(40%);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
}