<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <link rel="icon" href="./assets/favicon.svg" />
    <link rel="stylesheet" href="./assets/styles.css" />
    <title>iPhone Cases Comparison</title>
</head>

<body>
<div id="app">
    <div class="container">
        <header class="header">
            <a href="./">
                <img class="logo" src="./assets/logo.svg" alt="iPhone Case Price Comparison Logo" width="170" height="64" />
            </a>

            <form class="search" @submit.prevent="redirectSearch">
                <label>
                    <input v-model="searchQuery" type="text" placeholder="Search by your iPhone model" />
                </label>
                <button type="submit">Search</button>
            </form>
        </header>

        <main>
            <a href="./" class="back__button">
                <img src="./assets/back_button.svg" width="50" height="50"  alt="Back to Homepage"/>
            </a>

            <div v-if="!caseDetails.id" class="loading">
                <img src="./assets/loading.gif" alt="Loading iPhone Cases" width="256" height="256" />
            </div>

            <section class="case" :title="caseDetails.name" v-else>
                <img class="case__image" :src="caseDetails.image_url" :alt="caseDetails.name" width="auto" height="500" />

                <div class="case__details">
                    <h2>
                        <strong>Models: </strong>
                        <span>{{ caseDetails.phone_model }}</span>
                    </h2>
                    <div class="case__details--name">
                        <h2>Description: </h2>
                        <span>{{ caseDetails.name }}</span>
                    </div>
                    <p>
                        <strong>Color: </strong>
                        <span class="case__details--color" :style="{
                            'border': caseDetails.color === 'Clear' ? '1px solid #000' : 'none',
                            'background-color': caseDetails.color !== 'Clear' ? caseDetails.color : 'transparent'
                        }"></span>
                        <span>{{ caseDetails.color }}</span>
                    </p>
                </div>
            </section>

            <div class="divider"></div>

            <!-- Similar iPhone Cases -->
            <section class="similar-cases"> <!-- v-if="similarCases.length" -->
                <div class="similar-products">
                    <h2>View Prices</h2>
                    <div class="similar-product" >
                        <div class="similar-product__image">
                            <img src="https://picsum.photos/120/200" alt="CASE NAME" width="50" height="50" />
                        </div>
                        <div class="similar-product__info">
                            <a class="similar-product__info--name" href="/details.html?id=1">
                                <strong>CASE NAME</strong>
                            </a>
                            <div class="similar-product__info--buy">
                                <span class="similar-product__info--price">£10</span>
                                <a class="similar-product__info--button case__button" href="/details.html?id=1">Buy!</a>
                            </div>
                        </div>
                    </div>
                    <div class="similar-product" >
                        <div class="similar-product__image">
                            <img src="https://picsum.photos/120/200" alt="CASE NAME" width="50" height="50" />
                        </div>
                        <div class="similar-product__info">
                            <a class="similar-product__info--name" href="/details.html?id=1">
                                <strong>CASE NAME</strong>
                            </a>
                            <div class="similar-product__info--buy">
                                <span class="similar-product__info--price">£10</span>
                                <a class="similar-product__info--button case__button" href="/details.html?id=1">Buy!</a>
                            </div>
                        </div>
                    </div>
                    <div class="similar-product" >
                        <div class="similar-product__image">
                            <img src="https://picsum.photos/120/200" alt="CASE NAME" width="50" height="50" />
                        </div>
                        <div class="similar-product__info">
                            <a class="similar-product__info--name" href="/details.html?id=1">
                                <strong>CASE NAME</strong>
                            </a>
                            <div class="similar-product__info--buy">
                                <span class="similar-product__info--price">£10</span>
                                <a class="similar-product__info--button case__button" href="/details.html?id=1">Buy!</a>
                            </div>
                        </div>
                    </div>
                    <div class="similar-product" >
                        <div class="similar-product__image">
                            <img src="https://picsum.photos/120/200" alt="CASE NAME" width="50" height="50" />
                        </div>
                        <div class="similar-product__info">
                            <a class="similar-product__info--name" href="/details.html?id=1">
                                <strong>CASE NAME</strong>
                            </a>
                            <div class="similar-product__info--buy">
                                <span class="similar-product__info--price">£10</span>
                                <a class="similar-product__info--button case__button" href="/details.html?id=1">Buy!</a>
                            </div>
                        </div>
                    </div>
<!--                    <a v-for="similarCase in similarCases" :key="similarCase.id" class="similar-product" :href="'/details.html?id=' + similarCase.id" :title="similarCase.name">-->
<!--                        <div class="similar-product__image">-->
<!--                            <img :src="similarCase.image_url" :alt="similarCase.name" width="120" height="200" />-->
<!--                        </div>-->
<!--                        <div class="similar-product__info">-->
<!--                            <h4 class="similar-product__info&#45;&#45;name">{{ similarCase.name.substring(0, MAX_NAME_LENGTH) + '...' }h4>-->
<!--                            <span class="similar-product__info&#45;&#45;price">£{{ similarCase.price }}</span>-->
<!--                            <button class="similar-product__info&#45;&#45;details">Show Details</button>-->
<!--                        </div>-->
<!--                    </a>-->
                </div>
            </section>
        </main>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            MAX_NAME_LENGTH: 60,
            caseDetails: {},
            products: [],
            similarCases: [],
            searchQuery: '',
            title: '',
        },
        methods: {
            loadCaseDetails: function () {
                const caseId = new URLSearchParams(window.location.search)
                //fetch using case ID
                fetch(`http://localhost:3001/case/${caseId.get('id')}`)
                    .then((response) => response.json())
                    .then((dataFromJSON) => {
                        this.caseDetails = dataFromJSON;
                        document.title = dataFromJSON.name || 'iPhone Cases Comparison'
                        this.loadSimilarCases(this.extractPhoneModel(dataFromJSON.phone_model))
                    })
                    .catch((error) => console.error('Error fetching case details:', error))
            },

            loadSimilarCases: function (phoneModel) {
                //fetch similar cases using phone model
                fetch(`http://localhost:3001/case/similar/${encodeURIComponent(phoneModel)}`)
                    .then((response) => response.json())
                    .then((dataFromJSON) => (this.similarCases = dataFromJSON))
                    .catch((error) => console.error('Error fetching similar cases:', error));
            },

            extractPhoneModel: function (fullPhoneModel) {
                // Split the string by spaces
                const words = fullPhoneModel.split(' ');
                // Find the first occurrence of "iPhone"
                const iPhoneIndex = words.findIndex(word => word === 'iPhone');
                // If "iPhone" is found, concatenate it with the iPhone model
                if (iPhoneIndex !== -1 && iPhoneIndex < words.length - 1) {
                    return words[iPhoneIndex] + ' ' + words[iPhoneIndex + 1];
                } else {
                    return '';
                }
            },

            redirectSearch: function () {
                //Save in sessionStorage
                sessionStorage.setItem('searchQuery', this.searchQuery);
                //Redirect to search.html to perform search
                window.location.href = './search.html';
            },
        },
        created() {
            this.loadCaseDetails();
        },
    });
</script>
</body>

</html>
