<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <link rel="icon" href="./assets/favicon.svg" />
  <link rel="stylesheet" href="./assets/styles.css" />
  <title>iPhone Cases Comparison</title>
</head>

<body>
<div id="app">
  <div class="container">
    <header class="header">
      <a href="./">
        <img class="logo" src="./assets/logo.svg" alt="iPhone Case Price Comparison Logo" width="170" height="64" />
      </a>

      <form class="search" @submit.prevent="redirectSearch">
        <label>
          <input v-model="searchQuery" type="text" placeholder="Search by your iPhone model" />
        </label>
        <button type="submit">Search</button>
      </form>
    </header>

    <main class="container">
      <section class="featured">
        <div class="featured__text">
          <h1>Find the perfect phone case that matches your personality</h1>
          <span>Best Deals from all stores.</span>
        </div>
        <a href="#products" class="featured__cta">Shop Now</a>
      </section>

      <div v-if="products.length === 0" class="loading">
        <img src="./assets/loading.gif" alt="Loading iPhone Cases" width="256" height="256" />
      </div>

      <div id="products" class="products">
        <a v-for="product in products" :key="product.id" class="product" :href="'/details.html?id=' + product.id">
          <div class="product__image">
            <img :src="product.image_url" :alt="product.phone_model" width="120" height="200" />
          </div>
          <div class="product__info">
            <h4 class="product__info--name">{{ product.name.substring(0, MAX_NAME_LENGTH) + '...' }}</h4>
            <span class="product__info--price">£{{ product.price }}</span>
            <button class="product__info--details">Show Details</button>
          </div>
        </a>
      </div>
    </main>
  </div>
</div>

<script>
  new Vue({
    el: '#app',
    data: {
      MAX_NAME_LENGTH: 60,
      searchQuery: '',
      products: []
    },
    methods: {
      redirectSearch: function () {
        //Save in sessionStorage
        sessionStorage.setItem('searchQuery', this.searchQuery);
        //Redirect to search.html to perform search
        window.location.href = './search.html';
      },

      loadProducts: function () {
        fetch('http://localhost:3001/case')
          .then(response => response.json())
          .then(dataFromJSON => {
            const randomCases = dataFromJSON.sort(() => 0.5 - Math.random())
            this.products = randomCases.slice(0, 20)
          })
      }
    },
    created() {
      this.loadProducts()
    }
  });
</script>
</body>

</html>
