<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <link rel="icon" href="./assets/favicon.svg" />
  <link rel="stylesheet" href="./assets/styles.css" />
  <title>iPhone Cases Comparison</title>
</head>

<body>
  <div id="app">
    <div class="container">
      <header class="header">
        <a href="./">
          <img class="logo" src="./assets/logo.svg" alt="iPhone Case Price Comparison Logo" width="170" height="64" />
        </a>

        <form class="search" @submit.prevent="redirectSearch">
          <label>
            <input v-model="searchQuery" type="text" placeholder="Search by your iPhone model" />
          </label>
          <button type="submit">Search</button>
        </form>
      </header>

      <main class="container">
        <section class="featured">
          <div class="csslider">
            <input type="radio" name="slides" v-for="(product, index) in sliderProducts" :id="'slides_' + (index + 1)"
              :checked="index === 0" />
            <ul>
              <!-- Add the new content as the first element -->
              <li>
                <div class="featured__text">
                  <h1>Find the perfect phone case that matches your personality</h1>
                  <span>Best Deals from all stores.</span>
                </div>
                <a href="#products" class="featured__cta">Shop Now</a>
              </li>
              <!-- Loop through the products and display each one -->
              <li v-for="product in sliderProducts">
                <!-- Customize the content based on your product data -->
                <div class="product-slide">
                  <img class="featured__img" :src="product.image_url" :alt="product.name" width="300" height="200" />
                  <h3>
                    <a :href="'/details.html?id=' + product.id">
                      {{ product.name.substring(0, MAX_NAME_LENGTH) + '...' }}
                    </a>
                  </h3>
                  <strong class="product__info--price">
                    £{{ product.price }}
                  </strong>
                </div>
              </li>
            </ul>
            <div class="arrows">
              <label v-for="(product, index) in sliderProducts" :for="'slides_' + (index + 1)"></label>
            </div>
            <div class="navigation">
              <div>
                <label v-for="(product, index) in sliderProducts" :for="'slides_' + (index + 1)"></label>
              </div>
            </div>
          </div>
        </section>

        <div v-if="products.length === 0" class="loading">
          <img src="./assets/loading.gif" alt="Loading iPhone Cases" width="256" height="256" />
        </div>

        <div id="products" class="products">
          <a v-for="product in products" :key="product.id" class="product" :href="'/details.html?id=' + product.id">
            <div class="product__image">
              <img :src="product.image_url" :alt="product.name+ ' for ' +product.phone_model" width="120"
                height="200" />
            </div>
            <div class="product__info">
              <h4 class="product__info--name">{{ product.name.substring(0, MAX_NAME_LENGTH) + '...' }}</h4>
              <span class="product__info--price">£{{ product.price }}</span>
              <button class="product__info--details">Show Details</button>
            </div>
          </a>
        </div>

        <div v-if="products.length > 0" class="pagination">
          <a href="index.html">First</a>
          <a v-if="currentPage > 1" :href="'index.html?page=' + (currentPage - 1)">
            <img src="./assets/arrow-animated.gif" alt="Previous Page" width="50" height="50" />
          </a>

          <!--
            Display the pages numbers dynamically using the displayPages computed property
          -->
          <template v-for="page in displayPages">
            <span v-if="page === '...'">{{ page }}</span>
            <a v-else :key="page" :href="'index.html?page=' + page" :class="{ 'current': page === currentPage }">
              {{ page }}
            </a>
          </template>

          <a v-if="currentPage < totalPages" :href="'index.html?page=' + (currentPage + 1)">
            <img src="./assets/arrow-animated.gif" alt="Next Page" width="50" height="50" />
          </a>
          <a :href="'index.html?page=' + totalPages">Last</a>
        </div>
      </main>
    </div>
  </div>

  <script type="module">
    import { getPageNumber, scrollHeader } from './utils/index.js'

    new Vue({
      el: '#app',
      data: {
        MAX_NAME_LENGTH: 60,
        searchQuery: '',
        products: [],
        sliderProducts: [],
        currentPage: 1,
        totalPages: 1
      },
      methods: {
        /**
         * Save the searchQuery in sessionStorage
         * Then Redirect to search.html to perform search
         */
        redirectSearch: function () {
          //Save in sessionStorage
          sessionStorage.setItem('searchQuery', this.searchQuery);
          //Redirect to search.html to perform search
          window.location.href = './search.html';
        },

        /**
         * Load cases and limit per page based on the query parameter
         * Returns an array of cases then sort them randomly
         */
        loadProducts: function () {
          fetch(`http://localhost:4000/case/${getPageNumber()}`)
            .then(response => response.json())
            .then(dataFromJSON => {
              this.products = dataFromJSON.sort(() => 0.5 - Math.random())
            })
        },

        /**
         * Load Limited cases and limit per page based on the query parameter
         * Returns an array of cases then sort them randomly
         */
        loadLimitedCases: function () {
          fetch(`http://localhost:4000/case?limited=5`)
            .then(response => response.json())
            .then(dataFromJSON => {
              this.sliderProducts = dataFromJSON.sort(() => 0.5 - Math.random())
            });
        }
      },
      computed: {
        /**
         * method to generate an array of page numbers in the pagination row
         * Returns an array of page numbers based on the totalPages
         */
        pages: function () {
          return Array.from({ length: this.totalPages }, (_, i) => i + 1);
        },
        /**
       * Calculate the pages to display dynamically
       */
        displayPages: function () {
          const range = 5; // Number of pages to display at a time
          const pages = [];
          const start = Math.max(1, this.currentPage - Math.floor(range / 2));
          const end = Math.min(start + range - 1, this.totalPages);

          if (start > 1) {
            pages.push(1);
            if (start > 2) {
              pages.push('...'); // Display ellipsis if there are hidden pages
            }
          }

          for (let i = start; i <= end; i++) {
            pages.push(i);
          }

          if (end < this.totalPages) {
            // If there are more pages to display, display ellipsis
            if (end < this.totalPages - 1) {
              pages.push('...');
            }
            // Else I'm Displaying the last page number
            pages.push(this.totalPages);
          }

          return pages;
        }
      },
      created() {
        /**
         * Load products from the API when the page is created
         */
        this.loadProducts()
        this.loadLimitedCases()
        scrollHeader()
        // Set currentPage and totalPages based on the query parameter (if present)
        const queryParams = new URLSearchParams(window.location.search)
        this.currentPage = parseInt(queryParams.get('page')) || 1
        this.totalPages = 1350
      },
      loadProducts() {
        return this.loadProducts()
      },
      loadLimitedCases() {
        return this.loadLimitedCases()
      }
    });
  </script>
</body>

</html>