<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
  <link rel="icon" href="./assets/favicon.svg" />
  <link rel="stylesheet" href="./assets/styles.css" />
  <title>iPhone Cases Comparison</title>
</head>

<body>
  <div id="app">
    <div class="container">
      <header class="header">
        <a href="./">
          <img class="logo" src="./assets/logo.svg" alt="iPhone Case Price Comparison Logo" width="170" height="64" />
        </a>

        <form class="search" @submit.prevent="searchCases">
          <label>
            <!-- Binding the input to the searchQuery variable -->
            <input v-model="searchQuery" type="text" placeholder="Search by your iPhone model" />
          </label>
          <button type="submit">Search</button>
        </form>
      </header>

      <main class="container">
        <a href="./" class="back__button">
          <img src="./assets/back_button.svg" width="50" height="50" alt="Back to Homepage" />
        </a>

        <p v-if="searchResults.length === 0" class="loading">
          No results found. Please try again.
        </p>

        <div v-else id="searchResults">
          <h2 class="search-query-header">Search Results for: {{ searchQuery }}</h2>

          <div class="products">
            <a v-for="result in searchResults" :key="result.id" class="product" :href="'/details.html?id=' + result.id">
              <div class="product__image">
                <img :src="result.image_url" :alt="result.phone_model" width="120" height="200" />
              </div>
              <div class="product__info">
                <h4 class="product__info--name">{{ result.name.substring(0, MAX_NAME_LENGTH) + '...' }}</h4>
                <span class="product__info--price">£{{ result.price }}</span>
                <button class="product__info--details">Show Details</button>
              </div>
            </a>
          </div>

          <div class="pagination">
            <a href="search.html">First</a>
            <a v-if="currentPage > 1" :href="'search.html?page=' + (currentPage - 1)">Previous</a>

            <!--
              Display the search pages dynamically using the displayPages computed property
            -->
            <template v-for="page in displayPages">
              <span v-if="page === '...'">{{ page }}</span>
              <a v-else :key="page" :href="'search.html?page=' + page" :class="{ 'current': page === currentPage }">
                {{ page }}
              </a>
            </template>

            <a v-if="currentPage < totalPages" :href="'search.html?page=' + (currentPage + 1)">Next</a>
            <a :href="'search.html?page=' + totalPages">Last</a>
          </div>
        </div>
      </main>
    </div>
  </div>

  <script type="module">
    import { getPageNumber } from './utils/index.js';

    new Vue({
      el: '#app',
      data: {
        MAX_NAME_LENGTH: 60,
        searchQuery: '',
        searchResults: [],
        currentPage: 1,
        totalPages: 1,
      },
      methods: {
        // Retrieve search query from sessionStorage
        retrieveSearchQuery: function () {
          const storedSearchQuery = sessionStorage.getItem('searchQuery');
          if (storedSearchQuery) {
            this.searchQuery = storedSearchQuery;
          }
        },

        // Fetch search results based on the search query
        fetchSearchResults: function () {
          const encodedSearchQuery = encodeURIComponent(this.searchQuery)
          fetch(`http://localhost:4000/search/${getPageNumber()}?query=${encodedSearchQuery}`)
            .then(response => response.json())
            .then(dataFromJSON => this.searchResults = dataFromJSON)
            .catch(error => console.error('Error fetching search results:', error))
        },

        // Handle form submission
        searchCases: function () {
          // Update sessionStorage when searchQuery changes
          sessionStorage.setItem('searchQuery', this.searchQuery)
          //fetch search results
          this.fetchSearchResults()
        }
      },
      computed: {
        /**
         * method to generate an array of page numbers in the pagination row
         * Returns an array of page numbers based on the totalPages
         */
        pages: function () {
          return Array.from({ length: this.totalPages }, (_, i) => i + 1);
        },
        /**
       * Calculate the pages to display dynamically
       */
        displayPages: function () {
          const range = 5; // Number of pages to display at a time
          const pages = [];
          const start = Math.max(1, this.currentPage - Math.floor(range / 2));
          const end = Math.min(start + range - 1, this.totalPages);

          if (start > 1) {
            pages.push(1);
            if (start > 2) {
              pages.push('...'); // Display ellipsis if there are hidden pages
            }
          }

          for (let i = start; i <= end; i++) {
            pages.push(i);
          }

          if (end < this.totalPages) {
            // If there are more pages to display, display ellipsis
            if (end < this.totalPages - 1) {
              pages.push('...');
            }
            // Else I'm Displaying the last page number
            pages.push(this.totalPages);
          }

          return pages;
        }
      },
      created() {
        // Retrieve search query and fetch search results on page load
        this.retrieveSearchQuery()
        this.fetchSearchResults()
        // Set currentPage and totalPages based on the query parameter (if present)
        const queryParams = new URLSearchParams(window.location.search)
        const page = parseInt(queryParams.get('page')) || 1
        this.currentPage = page
        this.totalPages = 10
      }
    });
  </script>
</body>

</html>